$main-blue: #3F51B5;
$main-width: 1920px;
$header-btn-collor: #26A69A;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.header{
    width: $main-width;
    height: 64px;
    background-color: $main-blue;
    display: grid;
    align-items: center;
    grid-template-columns: 200px auto 100px;
}
.logo{
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.logoText{
    margin-left: 10px;
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}
.logoImg{
    width: 36px;
    height: 36px;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    text-align: center;
}
.imgOval3{
    transform: translateY(3px);    
}
.imgOval4{
    transform: translateY(-5px) translateX(0.5px);
    width: 35px;    
}
.personal{
    display: flex;
    justify-content: space-around;
    color: #FFFFFF;
}
.personalIcon{
    width: 24px;
    height: 24px;
    cursor: pointer;
    
}
.pro{
    display: flex;
    align-items: center;
    width: 870px;
    height: 30px;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #3c4993;
    border-radius: 5px;
}
.proBtn{
    color: #FFFFFF;
    width: 37px;
    height: 19px;
    text-transform: uppercase;
    text-align: center;
    background-color: $header-btn-collor;
    border-radius: 5px;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    margin-left: 5px;
}
.proBtn:hover{
    width: 40px;
    height: 23px;
    transition: all ease 0.2s;
}
.linkProBtn{
    text-decoration: none;
}
.proText{
    margin-left: 10px;
}
.layout{
    display: flex;
}
.MainSidebar{
    border: 1px solid rgba(63, 63, 68, 0.005);
    box-shadow: 0px 1px 0px rgba(63, 63, 68, 0.05), 0px 1px 3px rgba(63, 63, 68, 0.15);
    width: 270px;
    height: 1016px;
    text-align: center;
    display: block;
    justify-content: center;
}
.accountPhoto{
    margin-top: 20px;
}
.accountTitle{
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400px;
}
.sidebarSurname{
    margin-left: 10px;
}
.job{
    margin-top: 10px;
    color: #9EA0A5;
    font-size: 12px;
}
.Account{
border-bottom: 1px solid #E4E7EB;
width: 200px;
height: 200px;   
margin-left: 30px; 
}
.SidebarItem{
    color: #FFFFFF;
    text-decoration: none;
    line-height: 40px;
}
.SidebarLink{
    text-decoration: none;
    width: 268px;
}
.theLink{
    text-decoration: none;
    display: block;
    color: #66788A;
}
.Support{
    border-top: 1px solid #E4E7EB;
    width: 200px;
    margin-left: 30px;
    padding-top: 30px;
    margin-top: 20px;
}
.supportTitle{
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.328974);
    margin-right: 10px;
}
.authentication{
    margin-left: 10px;
}
.products{
    margin-left: 10px;
}
.users{
    margin-left: 10px;
}
.dashboard{
    margin-left: 10px;
}
.typography{
    margin-left: 10px;
}
.icons{
    margin-left: 10px;
}
.backButton{
    margin-left: 10px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
.backArrom{
    margin-top: 5px;
    transform: translateY(2px);
}
.mainMenu{
    display: flex;
    margin-left: 10px;
}
.mainMenuItem{
    margin-left: 10px;
    text-decoration: none;
    margin-top: 20px;
    height: 40px;
}
.mainMenuLink{
    text-decoration: none;
    color: #3A3B3F;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.mainMenuLink:hover{
    border-bottom: 2px solid #1665d8;
    height: 40px;
    transition: all ease 0.2s;
}
.profile{
    border-top: 1px solid #E4E7EB;
    margin-top: 0px;
    width: 1650px;
    height: 100vh;
    display: flex;
}
.mainAccount{
    border-top: 1px solid #E4E7EB;
    margin-top: 0px;
    width: 1650px;
    height: 100vh;
}
.mainPricePlan{
    border-top: 1px solid #E4E7EB;
    margin-top: 0px;
    width: 1650px;
    height: 100vh;
}
.pricePlan{
    margin-left: 10px;
}
.mainAcc{
    margin-left: 10px;
}
.profilePersonal{
    border: 1px solid rgba(63, 63, 68, 0.005);
    box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15);
    border-radius: 4px;
    width: 375px;
    height: 249px;
    margin-top: 30px;
    margin-left: 30px;
}
.BasicAndNotification{
    margin-top: 30px;
    margin-left: 30px;
}
.personalBlock{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.personalName{
    display: flex;
}
.personalTitle{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bolder;
}
.personalTitleSecond{
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bolder;
}

.personalLocation{
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    color: #9EA0A5;
    font-size: 14px;
}
.personalButton{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    border-top: 1px solid #E4E7EB;
    padding-top: 25px;   
}
.thePersonalButton{
    background-color: transparent;
    color: #425A70;
    border: none;
    cursor: pointer;
}
.thePersonalButton:hover{
    color: #1665D8;
    transition: all ease 0.2;
}
.basicProfile{
    width: 910px;
    height: 454px;
    border: 1px solid rgba(63, 63, 68, 0.005);
    box-shadow: 0px 1px 0px rgba(63, 63, 68, 0.05), 0px 1px 3px rgba(63, 63, 68, 0.15);
    border-radius: 4px;;
}
.notifications{
    margin-top: 20px;
    width: 910px;
    height: 414px;
    border: 1px solid rgba(63, 63, 68, 0.005);
    box-shadow: 0px 1px 0px rgba(63, 63, 68, 0.05), 0px 1px 3px rgba(63, 63, 68, 0.15);
    border-radius: 4px;
}
.inputBlock{
    width: 700px;   
    margin-top: 10px;
    margin-left: 10px;
}
.theBasicInput{
    width: 328px;
    height: 56px;
    margin-top: 30px;
    margin-left: 10px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
.basicButton{
    width: 910px;
    height: 60px;
    border-top: 1px solid #E4E7EB;
    margin-top: 20px;
}
.theBasicButton{
    margin-top: 30px;
    margin-left: 30px;
    border: none;
    background-color: #2c63d2;
    color: #FFFFFF;
    width: 152px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
    cursor: pointer;
}
.theBasicButton:hover{
    width: 170px;
    height: 50px;
    transition: all ease 0.2s;
}
.basicHeader{
    width: 871px;
    height: 60px;
    border-bottom: 1px solid #E4E7EB;
    display: flex;
    align-items: center;
}
.basicTitle{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
}
.basicSuptitle{
    margin-left: 20px;
    color: #66788A;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
.notificationHeader{
border-bottom: 1px solid #E4E7EB;
display: flex;
width: 910px;
height: 60px;
align-items: center;
}
.notificationTitle{
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.notificationSuptitle{
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #66788A;
}
.notificationCheckBlock{
    display: flex;
    justify-content: space-around;
    width: 370px;
    height: 250px;
    margin-top: 10px;
}
.notificationCheckBlockNot{
    line-height: 50px;
}
.notificationCheckBlockMes{
    line-height: 50px;
}
.notBlock{
    display: flex;
}
.mesBlock{
    display: flex;
}
.mesTitle{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.notTitle{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.checkText{
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: 0.15px;
    font-size: 16px;
}
.notificationButton{
    border-top: 1px solid #E4E7EB;
    height: 60px;
    display: flex;
    align-items: center;   
}
.theNotificationButton{
    margin-left: 20px;
    width: 120px;
    height: 40px;
    margin-top: 30px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background: transparent;
    border-radius: 4px;
    color: #1665D8;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
.theNotificationButton:hover{
    color: #FFFFFF;
    background-color: #1665D8;
    border: 1px solid #FFFFFF;
    transition: all ease 0.2s;
}
@media(max-width: 1430px){
    .header{
        width: 1430px;
    }
    .Main{
        width: 1155px;
    }
    .mainLinks{
        width: 500px;
    }
    .mainMenu{
        width: 500px;
    }
    .profile{
        width: 900px;
    }
    .BasicAndNotification{
        width: 600px;
    }
    .basicHeader{
        width: 600px;
    }
    .basicProfile{
        width: 600px;
    }
    .theBasicInput{
        width: 250px;
        height: 40px;
    }
    .basicButton{
        width: 600px;
        height: 40px;
    }
    .notifications{
        width: 600px;
    }
    .notificationHeader{
        width: 600px;
    }
    .personalTitle{
        font-size: 20px;
    }
    .personalTitleSecond{
        font-size: 20px;
    }
}
@media(max-width: 1280px){
    .header{
        width: 1280px;
    }
    .Main{
        width: 1000px;
    }
    .inputBlock{
        width: 600px;
    }
    .personalImg{
        width: 110px;
        height: 110px;
    }
}
@media(max-width: 1080px){
    .header{
        width: 1080px;
        grid-template-columns: 150px 200 100px;
    }
    
    .pro{
        width: 650px;
        font-size: 10px;
    }
    .Main{
        width: 807px;
    }
    .profile{
        width: 807px;
    }
    .BasicAndNotification{
        width: 480px;
    }
    .basicHeader{
        width: 480px;
    }
    .basicProfile{
        width: 480px;
    }
    .inputBlock{
        width: 480px;
    }
    .theBasicInput{
        width: 200px;
    }
    .basicButton{
        width: 480px;
    }
    .notifications{
        width: 480px;
    }
    .notificationHeader{
        width: 480px;
    }
    .personalImg{
        width: 100px;
        height: 100px;
    }
}
@media(max-width: 720px){
    .header{
        width: 720px;
    }
    .pro{
        width: 400px;
    }
    .profile{
        display: block;
    }
    .Main{
        width: 450px;
    }
    .mainLinks{
        width: 450px;
    }
    .mainMenu{
        width: 440px;
    }
    .profile{
        width: 450px;
    }
    .basicHeader{
        width: 420px;
    }
    .basicProfile{
        width: 420px;
    }
    .BasicAndNotification{
        width: 400px;
    }
    .theBasicInput{
        width: 170px;
    }
    .inputBlock{
        width: 420px;
    }
    .basicButton{
        width: 420px;
    }
    .notificationHeader{
        width: 420px;
    }
    .notifications{
        width: 420px;
    }
}
@media(max-width: 480px){
    .header{
        width: 480px;
        display: flex;
        justify-content: space-between;
    }
    .personalIcon{
        margin-right: 10px;
    }
    .pro{
        display: none;
    }
    .layout{
        display: block;
    }
    .MainSidebar{
        width: 478px;
        height: 600px;
    }
    .Account{
        margin-left: 150px;
    }
    .SidebarLink{
        margin-left: 110px;
    }
    .Support{
        margin-left: 150px;
    }
}
@media(max-width: 360px){
    .header{
        width: 360px;
    }
    .MainSidebar{
        width: 360px;
    }
    .Account{
        margin-left: 100px;
    }
    .SidebarLink{
        margin-left: 60px;
    }
    .Support{
        margin-left: 100px;
    }
    .mainLinks{
        width: 360px;
    }
    .Main{
        width: 360px;
    }
    .mainMenu{
        width: 360px;
    }
    .profile{
        width: 360px;
    }
    .profilePersonal{
        width: 320px;
    }
    .personalBlock{
        width: 300px;
    }
    .PersonalInformation{
        width: 300px;
    }
    .basicHeader{
        width: 330px;
    }
    .basicProfile{
        width: 330px;
    }
    .BasicAndNotification{
        width: 330px;
    }
    .theBasicInput{
        width: 130px;
    }
    .basicButton{
        width: 330px;
    }
    .inputBlock{
        width: 320px;
    }
    .notifications{
        width: 330px;
    }
    .notificationHeader{
        width: 330px;
    }
    .checkText{
        font-size: 12px;
    }
    .notificationCheckBlock{
        width: 330px;
    }
}